<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header>Check Crypto Currency Exchange Rate</header>
    <form method="post">
      <div class="dropDowns">
        <div class="currencySelect">
          <label for="enteredCurrency">Select a Currency:</label>
          <select name="enteredCurrency" id="enteredCurrency">
            <% currencies.forEach((currency) => {%>
            <option value="<%=currency.id  %>"><%= currency.name %></option>
            <% }) %>
          </select>
        </div>
        <div class="currencySelect">
          <label for="convertedCurrency">Convert to:</label>
          <select name="convertedCurrency" id="convertedCurrency">
            <% currencies.forEach((currency) => {%>
            <option value="<%=currency.id  %>"><%= currency.name %></option>
            <% }) %>
          </select>
        </div>
      </div>
      <div><button formaction="/convert">Convert</button></div>
    </form>
  </body>
</html>
