body {
  height: 91.5vh;
  background: linear-gradient(#332941, #3b3486);
}

header {
  display: flex;
  justify-content: center;
  align-self: center;
  font-size: 30px;
  color: #f8e559;
  margin-top: 50px;
}

form {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 160px;
  flex-direction: column;
}

form div {
  display: flex;
  justify-content: center;
  color: #f8e559;
}
button {
  margin-top: 160px;
  border: none;
  color: #f8e559;
  background-color: #864af9;
  width: 200px;
  height: 50px;
  border-radius: 30px 30px;
}

button:hover {
  background-color: #3b3486;
}
button:active {
  background-color: #332941;
}

.dropDowns {
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
  gap: 500px;
}

select {
  border: none;
  width: 200px;
  height: 40px;
  background-color: #332941;
  border-radius: 30px;
  color: #f8e559;
}

.currencySelect {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
